<!-- header.component.html -->
<mat-toolbar color="primary">
  <a mat-button class="app-title" routerLink="/recipes">Recipe Realm</a>
  <a mat-button class="my-favorites-button" routerLink="/favorites">
    My Favorites
  </a>
  <a mat-button class="my-lists-button" routerLink="/lists">
    My Lists
  </a>
  <span class="navbar-spacer"></span>
  <button mat-icon-button class="profile-icon" aria-label="Profile" (click)="openProfile()">
    <mat-icon>account_circle</mat-icon>
  </button>
</mat-toolbar>
