.mat-toolbar {
  height: 64px;
}

.menu-icon,
.favorite-icon {
  color: white;
}

.app-title {
  font-size: 1.5em;
  margin-left: 10px;
  font-weight: bold;
}

.my-favorites-button,
.my-lists-button {
  color: white;
  margin-left: 10px;
}

.navbar-spacer {
  flex: 1;
}