<!-- header -->
<app-header></app-header>

<!-- body -->
<div>
    <div class="landing-search-field">
        <div class="wrap">
            <div class="search">
               <input type="text" class="searchTerm" placeholder="What are you looking for?">
               <button type="submit" class="searchButton">
                 <i class="fa fa-search"></i>
              </button>
            </div>
         </div>
    </div>
    <div class="landing-display">

    </div>
</div>

<!-- footer -->
<app-footer></app-footer>